<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [flow-weaver,%X{flow-weaver-context-id}] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- DEBUG para tu paquete -->
    <logger name="mx.bastekor.flowweaver" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- El resto solo en WARN -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
